@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --dark: #1D1D1F;
    --dark-grey: #394150;
    --grey: #D2D5DA;
    --pale: #F3F4F6;
    --light-grey: #E5E7EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    
    font-size: 16px;
    font-weight: 400;
    min-height: 100vh;
    position: relative;
    /* display: grid; */
}

.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 33vh;
    z-index: 0;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.layout {
    position: relative;
    max-width: 1450px;
    margin: 0 auto;
    z-index: 1;
    padding: 3rem;
    display: grid;
    min-height: 100vh;
    /* border: 3px solid red; */
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.heading {
    /* border: 1px solid red;  */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
    /* text-align: center; */
}

.heading span {
    background-color: var(--dark);
    width: 100px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding: 8px;
    border-radius: 5rem;
}

.card {
    background-color: rgb(55, 81, 104);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.11);
}

.left {
    background-color: var(--grey);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem;
}

.right {
    background-color: var(--pale);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem;
}

.divider {
    margin: 2rem 0;
    border-top: 1px solid var(--dark-grey);
}

.coupon-row {
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
}

.coupon-row input {
    flex: 1;
    padding-left: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.14);
}


/* Utilities */
.white {
    color: #fff;
}


.img-holder {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: 120px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.14);
    background-color: var(--pale);
    border-radius: 10px
}

.img-holder img {
    height: 100%;
}

.row-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    /* height: 70%; */
}

.row {
    display: flex;
    gap: 1rem;
    height: 100px;
    align-items: center;
}

.description {
    flex: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}


.description .text-right {
    text-align: right;
}

.btm-left {
    grid-row: 4/5;
}

.btm-right {
    grid-row: 4/5;
}

.btn {
    background-color: var(--dark);
    color: #fff;
    border-radius: 1rem;
    padding: 1rem
}

.checkout {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}



.grid {
    height: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid .text-right {
    justify-self: end;
}

.bold {
    font-weight: 700;
}